body {
  background-color: Black ;
  text-align: center;
  font-family: verdana;
}

#title,
.headings {
  color: white;
  font-weight: normal;
}

#title {
  font-size: 50px;
}

.headings {
  font-size: 42px;
  font-weight: 300;
}

#strap {
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
  font-size: 16px;
}

#footer {
  text-align: right;
  color: gray;
}
